body
{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(137, 255, 216);
    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;
}
#margenes
{
    background-color: rgb(67, 67, 197);
    border-radius: 15%;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
p
{
    font-family: 'Timmana', sans-serif;
    color: black;
    font-size: 20px;
}
#boton_next
{
    font-size: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 15%;
}
